/** Type scale System */
/** 38px, 30px, 24px, 19px, 15px, 12.5px, 10px, 8px, 6px, 5px  */

/** Spacing System */
/** 160px, 96px, 80px, 64px, 48px, 40px, 32px, 24px, 16px, 12px, 8px, 4px, 2px */

/* Global Format rules */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

/* Global font size */
:root,
::after,
::before {
  font-size: 62.5%;
  font-family: "Inter Tight", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}

/* 
* Color pallet
* Primary color - #C1121F;
* Secondary color - #FDF0D5;
* Dark color - #003049;
* Light color - #669BBC;
*/

/* Global color variables */
:root,
::after,
::before {
  --bg-primary: #c1121f;
  --bg-secondary: #fdf0d5;
  --text-primary: #fdf0d5;
  --text-secondary: #c1121f;
  --text-dark: #003049;
  --text-muted: #444;
  --text-dark-grey: #333;

  /* Tints and shades */
  --bg-primary-tint: #d45962;
  --bg-primary-shade: #870d16;
  --bg-secondary-shade: #b1a895;
  --bg-secondary-tint: #fefbf2;
  --text-primary-shade: #cac0aa;
  /* --text-primary-tint:  */
  --text-dark-tint: #33596d;
  --text-dark-shade: #002b42;
}

/* Global type scale variables*/
:root,
::after,
::before {
  --fs-38px: 3.8rem;
  --fs-35px: 3.5rem;
  --fs-30px: 3rem;
  --fs-24px: 2.4rem;
  --fs-19px: 1.9rem;
  --fs-15px: 1.5rem;
  --fs-12px: 1.25rem;
  --fs-10px: 1rem;
  --fs-8px: 0.8rem;
  --fs-6px: 0.6rem;
  --fs-5px: 0.5rem;
}

/* Global space system variables */
:root,
::after,
::before {
  --spacing-400px: 40rem;
  --spacing-350px: 35rem;
  --spacing-300px: 30rem;
  --spacing-160px: 16rem;
  --spacing-120px: 12rem;
  --spacing-96px: 9.6rem;
  --spacing-80px: 8rem;
  --spacing-64px: 6.4rem;
  --spacing-48px: 4.8rem;
  --spacing-40px: 4rem;
  --spacing-32px: 3.2rem;
  --spacing-24px: 2.4rem;
  --spacing-16px: 1.6rem;
  --spacing-12px: 1.2rem;
  --spacing-8px: 0.8rem;
  --spacing-4px: 0.4rem;
  --spacing-2px: 0.2rem;
}

/* Utility classes starts */

.mb-1 {
  margin-bottom: var(--spacing-2px);
}

.mb-2 {
  margin-bottom: var(--spacing-4px);
}

.mb-3 {
  margin-bottom: var(--spacing-8px);
}

.mb-4 {
  margin-bottom: var(--spacing-12px);
}

.mb-5 {
  margin-bottom: var(--spacing-16px);
}

.mt-1 {
  margin-top: var(--spacing-2px);
}

.mt-2 {
  margin-top: var(--spacing-4px);
}

.mt-3 {
  margin-top: var(--spacing-8px);
}

.mt-4 {
  margin-top: var(--spacing-12px);
}

.mt-5 {
  margin-top: var(--spacing-16px);
}

.text-muted {
  color: var(--text-color-black-light);
}

/* Utility classes ends */




/* Custom scrollbar starts */

::-webkit-scrollbar {
  width: var(--spacing-12px);
}

::-webkit-scrollbar-track {
  width: var(--spacing-8px);
  background-color: #bbb;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

/* Curstom scrollbar ends */

/* Global rules */
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

.btn__icon {
  background-color: var(--color-white-transparent-light);
  color: var(--text-color-dark);
  border-radius: 50%;
}

.btn--disabled {
  cursor: not-allowed;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon {
  font-size: var(--fs-12px);
}

.section-heading {
  font-size: var(--fs-30px);
  color: var(--text-dark);
  margin-bottom: var(--spacing-24px);
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.section {
  padding: var(--spacing-24px) var(--spacing-32px);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-row: span 2;
}

/* Error handling starts */

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8px);
}

.error-container--homepage {
  padding: var(--spacing-24px);
}

.error__heading {
  font-size: var(--fs-19px);
  color: #444;
}

.error__img-container,
.no-results__img-container {
  width: 40%;
  height: 40%;
}

.error__img,
.no-results__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--spacing-4px);
}

.error__message {
  font-size: var(--fs-30px);
  /* color: #EB630A; */
  color: var(--bg-primary-tint);
}

.no-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results-container--filters {
  justify-content: center;
}

.no-results-container--filters .no-results__img-container {
  width: 75%;
  height: 80%;
}

.no-results__description {
  font-size: var(--fs-19px);
  color: #888;
}

.no-results__img-container {
  margin-bottom: var(--spacing-16px);
}

.no-results__message {
  font-size: var(--fs-30px);
  color: #888;
  margin-bottom: var(--spacing-4px);
}

.no-results__message span {
  color: var(--bg-primary-tint);
}

/* Error handling ends */

/* Action container styles starts */

.action-container {
  position: absolute;
  top: var(--spacing-8px);
  right: var(--spacing-8px);
  display: flex;
  gap: var(--spacing-8px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.action__btn {
  font-size: var(--fs-19px);
  /* background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.5)); */
  background-color: var(--bg-primary-tint);
  color: var(--text-primary);
  border-radius: var(--spacing-4px);
  padding: var(--spacing-4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Action container styles ends */

/* Loader styles starts */

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--spacing-8px);
}

.loader-container--search {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0);
  align-self: center;

}

.loader {
  width: 200px;
  height: 140px;
  /* background: var(--bg-secondary-shade); */
  background: linear-gradient(to right, var(--bg-primary-tint), var(--bg-primary));
  box-sizing: border-box;
  border-radius: var(--spacing-4px);
  perspective: 1000px;
}

.loader__text {
  font-size: var(--fs-19px);
  font-weight: 500;
  color: #888;
}

.loader:before{
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: var(--spacing-4px);
  background: #f5f5f5  no-repeat;
  background-size: 60px 10px;
  background-image: 	linear-gradient(#ddd 100px, transparent 0) ,
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
  
  background-position: 15px 30px , 15px 60px , 15px 90px, 
            105px 30px , 105px 60px , 105px 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.loader:after {
  content: '';
    position: absolute;
    width: calc(50% - 10px);
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
    background: #fff no-repeat;
    background-size: 60px 10px;
    background-image: linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
    background-position: 50% 30px ,50% 60px , 50%  90px;
    transform: rotateY(0deg );
    transform-origin: left center;
  animation: paging 1s linear infinite;
}


@keyframes paging {
  to {
    transform: rotateY( -180deg );
  }
}

/* Loader styles ends */

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--bg-primary-tint);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
