/* Navbar starts */

.navbar__search-container [type="submit"]:hover {
  background-color: var(--color-secondary-dark);
}

.navbar__links-bookmarks:hover {
  background-color: var(--color-secondary-dark);
}

/* Navbar ends */

/* Trending section starts */

.trending-section__card__title:hover {
  text-decoration: underline;
}

/* Trending section ends */

/* Carousel starts */

.carousel__btn:hover .carousel__btn__icon {
  background-color: var(--color-white-transparent-bright);
}

.carousel__btn:focus .carousel__btn__icon {
  background-color: var(--color-white-transparent-bright);
}

.carousel__btn:focus {
  box-shadow: 0 0 0 var(--spacing-4px) var(--color-white-transparent-light);
}

/* Carousel ends */

/* Top news starts */

.top-news__card:hover .top-news__card__img-container .top-news__card__img {
  filter: brightness(60%);
}

.top-news__card:hover .top-news__card__title {
  text-decoration: underline;
}

/* Top news ends */
