/* Navbar starts */

.navbar__search-container [type="submit"]:hover {
  background-color: var(--color-secondary-dark);
}

.navbar__links-bookmarks:hover {
  background-color: var(--color-secondary-dark);
}

/* Navbar ends */

/* Trending section starts */

.trending-section__card__title:hover {
  text-decoration: underline;
}

/* Trending section ends */

/* Button states starts */

.btn:hover .btn__icon {
  background-color: var(--color-white-transparent-bright);
}

.btn:focus .btn__icon {
  background-color: var(--color-white-transparent-bright);
}

.btn:focus {
  box-shadow: 0 0 0 var(--spacing-4px) var(--color-white-transparent-light);
}

.news__btn:focus {
  box-shadow: 0 0 0 var(--spacing-4px) var(--color-primary-light-transparent);
}

/* Button states ends */

/* Top news starts */

.news-card:hover .news-card__img-container .news-card__img {
  filter: brightness(60%);
}

.news-card:hover .news-card__title {
  text-decoration: underline;
}

/* Top news ends */
