/** Type scale System */
/** 38px, 30px, 24px, 19px, 15px, 12.5px, 10px, 8px, 6px, 5px  */

/** Spacing System */
/** 160px, 96px, 80px, 64px, 48px, 40px, 32px, 24px, 16px, 12px, 8px, 4px, 2px */

/* Navbar Starts */
.navbar {
  display: flex;
  position: relative;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.navbar__items {
  display: flex;
  gap: var(--spacing-24px);
}

.navbar__logo {
  font-size: var(--fs-24px);
  font-family: "Inter Tight", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar__logo a {
  text-decoration: none;
  color: inherit;
}

.navbar__datetime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fs-19px);
  color: var(--text-primary-shade);
}

.navbar__search-container {
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary-shade);
  width: var(--spacing-120px);
  border-radius: var(--spacing-4px);
  cursor: text;
}

.navbar__search-icon {
  font-size: var(--fs-24px);
  padding: 0 var(--spacing-8px);
  color: var(--bg-primary-tint);
  color: #666;
}

.navbar__search__clear-icon {
  font-size: var(--fs-24px);
  margin-right: var(--spacing-8px);
  color: var(--bg-primary-tint);
  cursor: pointer;
  transition: all 0.2s;
}

.hide-clear-icon {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navbar__search-container [name="search-text"] {
  font-family: inherit;
  font-size: var(--fs-15px);
  outline: none;
  border: none;
  width: 70%;
  color: var(--text-dark);
  padding: var(--spacing-8px) 0;
  font-weight: 500;
  background-color: inherit;
  transition: none;
}

.navbar__search-container [name="search-text"]::placeholder {
  color: #666;
}

.navbar__links {
  display: flex;
  gap: var(--spacing-24px);
  align-items: center;
}

.navbar__links > * {
  color: inherit;
  font-size: var(--fs-19px);
  font-weight: 500;
  color: var(--text-primary-shade);
  padding: var(--spacing-4px);
}

.navbar__bookmarks-link {
  text-decoration: none;
}

/* Navbar ends */
