/** Type scale System */
/** 38px, 30px, 24px, 19px, 15px, 12.5px, 10px, 8px, 6px, 5px  */

/** Spacing System */
/** 400px, 350px, 300px, 160px, 120px, 96px, 80px, 64px, 48px, 40px, 32px, 24px, 16px, 12px, 8px, 4px, 2px */

/* Filters style starts */

.filters__section {
  padding: var(--spacing-24px);
  background-color: #f3f3f4;
  margin-bottom: 2px;
  border-radius: var(--spacing-4px);
}

.filters__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters__header__heading {
  font-size: var(--fs-24px);
  font-weight: 600;
  color: #333;
}

.filter__heading {
  font-size: var(--fs-19px);
  font-weight: 600;
  color: #333;
}

.filters__btn {
  font-size: var(--fs-15px);
  padding: var(--spacing-4px) var(--spacing-12px);
  text-transform: lowercase;
  border-radius: var(--spacing-4px);
  color: #666;
}

.filters__body {
  margin: var(--spacing-16px) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8px);
}

.filter {
  display: grid;
  gap: var(--spacing-8px);
  grid-template-columns: 1em auto;
  font-size: var(--spacing-16px);
  cursor: pointer;
}

.filters__section--date .filters__body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12px);
}

.filter--date {
  grid-template-columns: auto;
  grid-template-rows: max-content max-content;
  gap: var(--spacing-4px);
}

.filter__text {
  font-size: var(--fs-15px);
}

.filters__body::-webkit-scrollbar {
  width: 0;
}

.filters__section--sources .filters__body {
  max-height: var(--spacing-300px);
  overflow: auto;
}

input[type="date"] {
  font-family: inherit;
  padding: var(--spacing-8px) var(--spacing-12px);
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #888;
  border-radius: var(--spacing-4px);
  cursor: pointer;
}

.filter__date-btn {
  color: var(--text-primary);
  background-color: var(--bg-primary-tint);
  font-size: var(--fs-19px);
  padding: var(--spacing-8px) 0;
  margin-top: var(--spacing-8px);
  border-radius: var(--spacing-4px);
}

/* Filters style ends */
