/** Type scale System */
/** 38px, 30px, 24px, 19px, 15px, 12.5px, 10px, 8px, 6px, 5px  */

/** Spacing System */
/** 160px, 96px, 80px, 64px, 48px, 40px, 32px, 24px, 16px, 12px, 8px, 4px, 2px */

/* Search results page starts */

.search-content-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--spacing-32px);
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16px);
}

.search-results__card {
  /* background-color: #e8eaee; */
  padding: var(--spacing-16px);
  border-radius: var(--spacing-4px);
  max-height: var(--spacing-160px);
  border: 1px solid #ddd;
}

.search-results__card__link {
  display: grid;
  grid-template-columns: minmax(0, 30%) minmax(0, 70%);
  grid-template-rows: minmax(0, 100%);
  text-decoration: none;
  gap: var(--spacing-16px);
  height: 100%;
  width: 100%;
}

.search-results__card__img-container {
  width: 100%;
  height: 100%;
}

.search-results__card__img-container img {
  width: 100%;
  height: 100%;
  border-radius: var(--spacing-4px);
  object-fit: cover;
  object-position: center;
}

.search-results__card__text-container {
  display: flex;
  flex-direction: column;
}

.search-results__card__author {
  font-size: var(--fs-15px);
  color: #555;
  margin-bottom: var(--spacing-8px);
}

.search-results__card__title {
  font-size: var(--fs-19px);
  color: #333;
  font-weight: 500;
  margin-bottom: var(--spacing-4px);
}

.filter__heading--sources {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
}

.number-of-source-selected {
  display: inline-block;
  font-size: var(--fs-12px);
  background-color: var(--bg-primary-tint);
  color: var(--text-primary);
  padding: var(--spacing-2px) var(--spacing-8px);
  border-radius: var(--spacing-4px);
  margin-left: var(--spacing-4px);
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8px);
}

.error__heading {
  font-size: var(--fs-19px);
  color: #444;
}

.error__img-container,
.no-results__img-container {
  width: 40%;
  height: 40%;
}

.error__img,
.no-results__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--spacing-4px);
}

.error__message {
  font-size: var(--fs-30px);
  /* color: #EB630A; */
  color: var(--bg-primary-tint);
}

.no-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results-container--filters {
  justify-content: center;
}

.no-results-container--filters .no-results__img-container {
  width: 75%;
  height: 80%;
}

.no-results__description {
  font-size: var(--fs-19px);
  color: #888;
}

.no-results__img-container {
  margin-bottom: var(--spacing-16px);
}

.no-results__message {
  font-size: var(--fs-30px);
  color: #888;
  margin-bottom: var(--spacing-4px);
}

.no-results__message span {
  color: var(--bg-primary-tint);
}

/* Search results page ends */
