/** Type scale System */
/** 38px, 30px, 24px, 19px, 15px, 12.5px, 10px, 8px, 6px, 5px  */

/** Spacing System */
/** 160px, 96px, 80px, 64px, 48px, 40px, 32px, 24px, 16px, 12px, 8px, 4px, 2px */

/* Search results page starts */

.search-section {
  height: var(--spacing-160px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-section::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f3f3f4;
}

.search__container {
  background-color: #fff;
  width: 50%;
  display: flex;
  align-items: center;
  padding: var(--spacing-16px) var(--spacing-24px);
  border-radius: var(--spacing-4px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  z-index: 1;
}

.search__input {
  font-size: var(--fs-19px);
  border: none;
  outline: none;
  color: var(--text-dark);
}

.search__input:placeholder {
  color: #666;
}

.search__icon {
  font-size: var(--fs-19px);
  margin-right: var(--spacing-16px);
  color: #666;
}

.search-results-container {
  display: grid;
  gap: var(--spacing-24px);
}

.search-text-heading {
  font-size: var(--fs-30px);
  margin-bottom: var(--spacing-4px);
}

.search-results-text {
  font-size: var(--fs-19px);
  margin-bottom: var(--spacing-24px);
}

.search-result-card {
  display: flex;
}

.search-result-card__img-container {
  min-width: 40%;
  height: 100%;
  margin-right: var(--spacing-40px);
}

.search-result-card__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-result-card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-result-card__author {
  font-size: var(--fs-19px);
}

.search-result-card__title {
  font-size: var(--fs-30px);
}

.search-result-card__description {
  font-size: var(--fs-19px);
}

.search-result-card__link {
  font-size: var(--fs-19px);
}

/* Search results page ends */
