@media screen and (max-width: 800px) {
  .main {
    position: relative;
  }

  .search__container {
    width: 80%;
  }

  .filters-active .search__container {
    z-index: -1;
  }

  .search-content-grid {
    grid-template-columns: 1fr;
  }

  .page {
    z-index: 99;
  }

  .filters {
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: var(--spacing-16px);
    border: 1px solid #ccc;
    transform: translateY(0);
    padding: var(--spacing-64px) var(--spacing-12px) 0;
    border-radius: var(--spacing-8px);
    transition: transform 0.6s ease;
  }

  .filters--hidden {
    transform: translateY(100%);
  }

  .filters__section {
    display: none;
  }

  .filters__section--sort-by,
  .filters__section--sources {
    padding: var(--spacing-24px) !important;
    background-color: #f3f3f4;
    border-radius: var(--spacing-8px);
  }

  .filters__section--active {
    display: flex;
  }

  .btn--filter-switch {
    display: flex;
    align-items: center;
    gap: var(--spacing-12px);
    width: 100%;
    font-size: var(--fs-19px);
    text-align: left;
    padding: var(--spacing-16px) var(--spacing-16px);
    border-bottom: 1px solid #ccc;
  }

  .btn--filter-switch ion-icon {
    color: #555;
  }

  .btn--filter-switch:hover,
  .btn--filter-switch:active,
  .btn--filter-switch:focus {
    background-color: #f3f3f4;
  }

  .btn--filter-active {
    background-color: #f3f3f4;
  }

  .filters__grid-item {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    padding-right: var(--spacing-16px);
  }

  .language-filter__heading {
    display: none;
  }

  .btn--responsive-filter {
    display: flex;
    border: 1px solid var(--bg-secondary-shade);
    border-radius: var(--spacing-4px);
    font-size: var(--fs-15px);
    padding: var(--spacing-8px) var(--spacing-12px);
    align-items: center;
    gap: var(--spacing-8px);
  }

  .filters-active {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
  }

  .filters__section--sources .filters__body {
    overflow: auto;
  }

  .filters__content {
    padding-right: var(--spacing-16px);
  }

  .btn--close-filters,
  .filters__responsive-heading {
    display: block;
    position: absolute;

    font-size: var(--spacing-24px);
  }

  .btn--close-filters {
    top: var(--spacing-16px);
    right: var(--spacing-16px);
  }

  .filters__responsive-heading {
    top: var(--spacing-16px);
    left: var(--spacing-16px);
    color: #444;
  }

  .search-results__card__img-container {
    display: flex;
    align-items: flex-start;
  }

  .search-results__card__img-container img {
    height: 100%;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .loader-container--search {
    margin-top: var(--spacing-24px);
  }
  .pagination__pages {
    display: flex;
    flex-wrap: wrap;
  }

  .pagination__pages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .search-results__card {
    padding: var(--spacing-8px);
    position: relative;
    height: max-content;
  }

  .search-results__card__title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #444;
  }

  .action-container {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  :root,
  :root::after,
  :root::before {
    font-size: 56.25%;
  }

  .section--search-results {
    padding: var(--spacing-16px);
  }

  .section--language-filter {
    padding: 0 var(--spacing-16px);
    margin-bottom: var(--spacing-12px);
  }

  .search-results__card__link {
    grid-template-columns: minmax(0, 25%) minmax(0, 75%);
  }

  .search-results__card__title {
    font-size: var(--fs-15px);
  }

  .search__icon,
  .search__clear-icon {
    transform: scale(1.3);
  }

  .btn--filter-switch {
    padding: var(--spacing-16px) var(--spacing-8px);
    font-size: var(--fs-15px);
  }
}

@media screen and (max-width: 450px) {
  .search__container {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  .search__icon,
  .search__clear-icon {
    transform: scale(1.6);
  }
}
